.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title {
    font-family: 'neue-machina'; /* Corrigindo a propriedade font */
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem; /* Corrigindo o valor da margem (removendo o ponto) */
}

.information p::before {
    content: " ";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("assets/image5.svg"); /* Verifique o caminho da imagem */
    background-repeat: no-repeat;
    fill: #000000;
}

@media only screen and (min-width: 768px){
    .header {
        display: grid;
        grid-template-areas: 
        "photo title"
        "photo information";
    }
}   .header .photo {
        grid-area: photo;
        margin: 0 auto;
}   

.header .title {
        grid-area: title;
        text-align: start;
        max-width: 210px;

}   

.header .information{
        grid-area:inherit;
}